.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellow;
  z-index: 100;

  .logo,
  .menuToggle {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  .logo {
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: bold;
  }

  .menuToggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 1rem; // Atitraukiam nuo dešinio krašto
    width: 200px; // Nustatom plotį
    background-color: yellow;
    z-index: 99;
    border: 1px solid #ccc; // Pridedam borderį
    border-top: none; // Pašalinam viršutinį borderį

    .nav {
      display: flex;
      flex-direction: column;
      align-items: flex-end; // Išdėstom elementus dešinėje
      width: 100%;

      .link {
        font-family: var(--main-font);
        text-decoration: none;
        color: #333;
        font-size: 1.1rem;
        padding: 1rem; // Pridedam padding
        width: 100%;
        text-align: right;
      }
    }
  }

  @media (min-width: 768px) {
    padding: 1rem;

    .navContainer {
      position: static;
      display: flex;
      flex-direction: row;
      width: auto;
      box-shadow: none;
      border: none; // Pašalinam borderį didesniuose ekranuose

      .nav {
        flex-direction: row;
        align-items: center; // Centruojam elementus vertikaliai

        .link {
          font-size: 1.4rem;
          padding: 1rem 1rem;
        }
      }
    }

    .menuToggle {
      display: none;
    }
  }

  @media (min-width: 1280px) {
    padding: 1.5rem;
  }

  @media (min-width: 1920px) {
    padding: 2rem;

    .navContainer .nav .link {
      margin-left: 2rem;
    }
  }
}