.navbar {
  width: 100%;
  top: 0;
  z-index: 100;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  background-color: yellow;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
  }

  .logo {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;

    &.open {
      display: flex;
    }
  }

  .link {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: center;
  }

  .menu-toggle {
    display: flex;
    justify-content: center;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0;
  }

  @media (min-width: 768px) {
    display: flex; 
    padding: 1rem; 
    .content-wrapper {
      padding: 0; 
      width: auto; 
    }
    .nav-links {
      display: flex;
      flex-direction: row;
      width: auto;
    }
    .link {
      width: auto;
    }
    .menu-toggle {
      display: none;
    }
  }

  @media (min-width: 1280px) {
    padding: 1rem 3rem; // padidinamas pagrindinio navbar padding
  }

  @media (min-width: 1440px) {
    padding: 1rem 4rem; // padidinamas pagrindinio navbar padding
  }

  @media (min-width: 1920px) {
    padding: 1rem 5rem; // padidinamas pagrindinio navbar padding
  }
}