.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f0f0f0;
  position: sticky; // Pakeičiame position į sticky, kad header būtų fiksuotas
  top: 0; // Nustatome top į 0, kad header būtų viršuje
  z-index: 100; // Užtikriname, kad header būtų virš kitų elementų
  //width: 100%; // kad header užimtų visą plotį
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Pridedame šešėlį, kad header būtų labiau matomas
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
  
    &.open {
      display: flex;
    }
  }
  
  .link {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: center;
  }
  
  .menu-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  @media (min-width: 768px) {
    .nav-links {
      display: flex;
      flex-direction: row;
      width: auto;
    }
  
    .link {
      width: auto;
    }
  
    .menu-toggle {
      display: none;
    }
  }
  
  @media (min-width: 1280px) {
    .link {
      padding: 0.5rem 1.5rem;
    }
  }
  
  @media (min-width: 1920px) {
    .link {
      padding: 0.5rem 2rem;
    }
  }
}