.electronics-container {
  padding: 1rem;
}
  
@media (min-width: 768px) {
  .electronics-container {
    padding: 24px;     
  }
}

@media (min-width: 1280px) {
  .electronics-container {
    padding: 1rem;
  }
}
  
@media (min-width: 1920px) {
  .electronics-container {
    padding: 40px;
  }
}
  