:root {
  --main-font: "Montserrat", sans-serif;
  --buy-button-color: #007bff;
}

body {
  max-width: 1200px; /* Pradinis maksimalus plotis */
  background-color: green;
  margin: 0 auto;
  padding: 0;
}

h2, h3, p, li {
  font-family: var(--main-font);
}


@media (min-width: 768px) {
  body {
    max-width: 1600px;
    padding: 0 ; 
  }
}

@media (min-width: 1280px) {
  body {
    max-width: 2300px;
    padding: 0; 
  }
}

@media (min-width: 1920px) {
  body {
    max-width: 2800px;
    padding: 0;
  }
}