:root {
  --main-font: "Montserrat", sans-serif;
}

body {
  margin: 0;
  background-color: grey;
  max-width: 1200px; // Nustatom maksimalų plotį mobiliesiems ir vidutiniams ekranams
  margin: 0 auto; // Centruojam turinį horizontaliai
  padding: 0;
}

@media (min-width: 768px) {
  body {
    padding: 0;
  }
}

@media (min-width: 1280px) {
  body {
    padding: 0;
    max-width: 1600px;
  }
}

@media (min-width: 1920px) {
  body {
    max-width: 2300px; // Padidinam maksimalų plotį dideliems ekranams
    padding: 0;
  }
}