.contacts-container {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  height: 100%;
  padding: 0.7rem 1rem;

  .contact-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
    .contact-item {
      display: flex;
      align-items: flex-start; /* Keičiame į flex-start, kad viršutinės linijos būtų sulygiuotos */
      margin-bottom: 0.5rem;
      text-align: left;
  
      .icon {
        margin-right: 1.2rem;
        color: #007bff;
        font-size: 1.5rem;
        flex-shrink: 0; /* Užtikrina, kad ikona nesusitrauktų */
      }
  
      p {
        font-family: var(--main-font);
        font-size: 1.2rem;
        margin: 0;
        line-height: 1.5; /* Padidiname linijos aukštį */
        flex-grow: 1; /* Leidžia tekstui užimti likusią vietą */
      }
    }
  }

  .contact-button {
    width: 80%;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: green;
    font-family: var(--main-font);
    font-size: 1.3rem;
    color: white;
  }
  
  @media (min-width: 768px) {
    padding: 2rem;
    text-align: left;

    .contact-info {
      align-items: flex-start;
      margin: 0;
    }

    .contact-item {
      margin-bottom: 1rem;

      .icon {
        margin-right: 1.5rem;
        font-size: 1.8em;
      }

      p {
        font-size: 1.3rem;
      }
    }

    .contact-button {
      width: 250px;
      padding: 1rem;
      font-size: 1.4rem;
    }
  }
  
  @media (min-width: 1280px) {
    padding: 0.8rem 1rem;

    .contact-item {
      .icon {
        font-size: 1.6rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }

  .contact-button {
    padding: 0.5rem;
  }
  
  @media (min-width: 1920px) {
    padding: 3rem 2rem;

    .contact-item {
      margin-bottom: 2rem;

      .icon {
        font-size: 2.2em;
      }

      p {
        font-size: 1.8rem;
      }
    }

    .contact-button {
      width: 80%;
      padding: 1.2rem;
      font-size: 1.6rem;
    }
  }
}