.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellow;
  z-index: 100;

  .logo,
  .menu-toggle {
    display: flex;
    align-items: center;
    padding: 0.5rem;
  }

  .logo {
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: bold;
  }

  .menu-toggle {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    z-index: 101;
  }

  .nav-container {
    display: none;
    align-items: center;
    padding: 0;

    &.open {
      display: flex;
      width: auto;
    }

    .nav {
      display: flex;
      align-items: center;

      a {
        font-family: var(--main-font);
        text-decoration: none;
        color: #333;
        font-size: 0.8rem;
        font-weight: bold;
        padding: 0;
        margin-left: 9rem;
      }
    }
  }

  @media (min-width: 768px) {
    .header {
      padding: 1rem;
    }

    .nav-container {
      position: static;
      display: flex;
      width: auto;
      box-shadow: none;

      .nav {
        flex-direction: row;

        a {
          font-size: 1.4rem;
          padding: 1rem 1rem; /* Pridedam padding, atstatom nuorodos aukštį */
        }
      }
    }

    .menu-toggle {
      display: none;
    }
  }

  @media (min-width: 1280px) {
    .header {
      padding: 1rem;
    }

    .logo,
    .menu-toggle {
      padding: 0.5rem;
    }

    .logo {
      font-size: 1.5rem;
    }

    .nav-container .nav a {
      font-size: 1rem;
    }
  }

  @media (min-width: 1920px) {
    .header {
      padding: 2rem;
    }

    .logo,
    .menu-toggle {
      padding: 1rem 2rem;
    }

    .logo {
      font-size: 2.5rem;
    }

    .nav-container .nav a {
      font-size: 2.5rem;
      margin-left: 2rem;
    }
  }
}