.hero {
  background-size: cover;
  background-position: center;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .hero-content {
    h1 {
      font-family: var(--main-font);
      font-size: 1.6rem;
      margin: 0;
      padding: 0 5px;
    }

    p {
      font-family: var(--main-font);
      font-size: 1em;
      margin: 0;
      margin-top: 10px;
    }
  }

  @media (min-width: 768px) {
    padding: 15px;

    .hero-content {
      h1 {
        font-size: 3em;
        margin: 0;
      }

      p {
        font-size: 1.2em;
        margin-top: 10px
        
      }
    }
  }

  @media (min-width: 1024px) {
    padding: 35px; /* Tarp 768px ir 1280px */
    .hero-content {
      h1 {
        font-size: 3.5em; /* Tarp 768px ir 1280px */
      }
      p {
        font-size: 1.3em; /* Tarp 768px ir 1280px */
      }
    }
  }


  @media (min-width: 1280px) {
    padding: 20px;

    .hero-content {
      h1 {
        font-size: 3rem;
        margin: 0;
        margin-bottom: 5px;
      }

      p {
        font-size: 1.4rem;
        margin: 0;
      }
    }
  }

  @media (min-width: 1920px) {
    padding: 10px;

    .hero-content {
      h1 {
        font-size: 4em;
      }

      p {
        font-size: 1.6em;
      }
    }
  }
}