.invoice-form {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-family: var(--primary-font);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

h3 {
  margin-top: 20px;
  color: #333;
  font-size: 1.2rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

div {
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
  border-color: #007bff;
  outline: none;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

label {
  font-weight: normal;
  color: #666;
}

input {
  font-size: 1rem;
}

input[type="number"] {
  width: 80px;
}

.loader {
  margin-right: 10px;
}

.form-sections {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.section {
  width: 48%;
}

.seller,
.client {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.seller {
  padding-right: 10px;
}

.client {
  padding-left: 10px;
}

.field-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.field-container svg {
  margin-right: 10px;
  color: #007bff;
}

.field-container input {
  flex: 1;
}

.service-item {
  display: flex;
  align-items: center;
  gap: 1rem;

  .field-name {
    flex: 2; /* Ilgesnis plotis */
    padding: 0.5rem;
  }

  .field-quantity,
  .field-price {
    flex: 1; /* Mažesnis plotis */
    padding: 0.5rem;
  }
}

.delete-button {
  width: 150px;
  padding: 5px 10px;
  background-color: #e74c3c; /* Raudona spalva */
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  background-color: #c0392b; /* Tamsesnė raudona spalva hover metu */
}

.remove-button:active {
  background-color: #c0392b; /* Tamsesnė raudona spalva aktyviam būsenai */
}

.remove-button:focus {
  outline: none;
}

.add-button, .save-button {
  width: 200px;
  padding: 10px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-button {
  background-color: #3498db; /* Mėlyna spalva */
}

.add-button:hover {
  background-color: #2980b9; /* Tamsesnė mėlyna spalva hover metu */
}

.save-button svg {
  margin-right: 10px;
}

.save-button {
  background-color: #28a745; /* Žalia spalva */
}

.save-button:hover {
  background-color: #218838; /* Tamsesnė žalia spalva hover metu */
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Tarpas tarp mygtukų */
  margin-top: 20px; /* Atskyrimas nuo kitų elementų */
}

.add-button,
.save-button {
  width: 200px;
  padding: 10px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-button {
  background-color: #3498db; /* Mėlyna spalva */
}

.add-button:hover {
  background-color: #2980b9; /* Tamsesnė mėlyna spalva hover metu */
}

.save-button {
  background-color: #28a745; /* Žalia spalva */
}

.save-button:hover {
  background-color: #218838; /* Tamsesnė žalia spalva hover metu */
}

.invoice-number {
  margin-top: 20px; /* Atstumas nuo ankstesnių elementų */
  display: flex;
  flex-direction: column; /* Paverskite į stulpelinį išdėstymą */
  align-items: flex-start; /* Pasirūpinkite, kad numeris būtų kairėje */
}

.invoice-number label {
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
}

.invoice-number input {
  width: 200px; /* Nustatykite norimą plotį */
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
  text-align: center; /* Kad tekstas būtų centre */
  box-sizing: border-box;
}

.invoice-number input:disabled {
  background-color: #e9ecef; /* Užtikrinkite, kad negalima keisti, rodoma kaip pasyvūs įvesties laukai */
}
