.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #333;

  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    a {
      font-family: var(--main-font);
      color: white;
      text-decoration: none;

      &:hover {
        color: green;
      }
    }
  }
}