// base styles
$primary-color: #007bff;
$background-color: #f4f4f4;

body {
  font-family: Arial, sans-serif;
  background-color: $background-color;
}

header {
  background-color: $primary-color;
  color: white;
  padding: 20px;
  text-align: center;

  a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
}

.container {
  padding: 20px;
}
