.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  
  background-color: #f0f2f5; // Šviesiai pilkas fonas
  margin-top: 1rem; // Atstumas nuo viršaus, atsižvelgiant į Header

  .selects {
    text-align: center;
    margin-bottom: 30px; // Atstumas nuo pasirinktų komponentų

    h2 {
      color: var(--text-color); // Naudoju bendrą teksto spalvos kintamąjį
      font-family: var(--main-font);
      font-size: 1.5em;
      margin-bottom: 10px;
    }

    .options-buttons {
      display: flex;
      gap: 20px; // Atstumas tarp mygtukų
      justify-content: center;

      button {
        background-color: var(--sec-color); // Pavyzdys mėlynos spalvos mygtukui
        color: #fff;
        padding: 15px 30px;
        border: none;
        border-radius: 8px;
        font-family: var(--main-font);
        font-size: 1.1em;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
        font-weight: 500;

        &:hover {
          background-color: var(--sec-color);
          transform: translateY(-2px);
        }

        &:active {
          transform: translateY(0);
        }
      }
    }
  }

  .back-button {
    background-color: #6c757d; // Pilka atgal mygtukui
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-family: var(--main-font);
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px; // Atstumas nuo komponento

    &:hover {
      background-color: darken(#6c757d, 10%);
    }
  }
}