.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;
}
  
  
@media (min-width: 768px) {
  .contact-container {
    padding: 0;
  } 
}
  
@media (min-width: 1024px) {
  .contact-container {
    padding: 0;
  } 
}
  
@media (min-width: 1440px) {
  .contact-container {
    padding: 0;
  } 
}
  
@media (min-width: 1920px) {
  .contact-container {
    padding: 0;
  } 
}
  
@media (min-width: 2560px) {
  .contact-container {
    padding: 0;
  } 
}