.contact-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column; // Mobile-first: stulpeliu
  align-items: center;
  //margin: 6.5rem auto;
  width: 100%;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact-form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
  
  
@media (min-width: 768px) {
  .contact-container {
    padding: 0;
  } 
}
  
@media (min-width: 1024px) {
  .contact-container {
    padding: 0;
  } 
}
  
@media (min-width: 1440px) {
  .contact-container {
    padding: 0;
  } 
}
  
@media (min-width: 1920px) {
  .contact-container {
    padding: 0;
  } 
}
  
@media (min-width: 2560px) {
  .contact-container {
    padding: 0;
  } 
}