.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem; // Vienododi atstumai iš kairės ir dešinės
  margin: 0 auto; // Centruoja horizontaliai
  margin-top: 3rem;
  padding-top: 3rem;
}

.about-container p {
  text-align: justify;
  text-indent: 1.5rem;
  font-family: var(--main-font);
  font-size: 1rem;
  hyphens: auto;
  overflow-wrap: break-word;
}

@media only screen and (min-width: 768px) {
  .about-container {
    margin-top: 0;
    padding-top: 2rem;
  }
  
  .about-container p {
    font-size: 1.3rem;
    text-indent: 3rem;
    padding: 0 5.1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .about-container {
    margin-top: 3rem;
    padding: 0 6rem;
  }

  .about-container p {
    font-size: 1.4rem;
    margin: 0.5rem;
  }
}

@media only screen and (min-width: 1440px) {
  .about-container {
    margin-top: 1.5rem;
    padding: 0 17rem;
  }

  .about-container p {
    font-size: 1.6rem;
    text-indent: 4rem;
  }
}