.about-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // Centruoja tiek horizontaliai, tiek vertikaliai
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.6); // Permatomas fonas
  backdrop-filter: blur(8px); // Šiek tiek stipresnis suliejimas
  border-radius: 10px;
  transition: all 0.3s ease-in-out; // Suteikia sklandesnį perėjimą keičiantis ekranui
}

.about-container p {
  text-align: justify;
  text-indent: 1.5rem;
  font-family: var(--main-font);
  color: var(--text-color);
  font-size: 1.2rem;
  hyphens: auto;
  overflow-wrap: break-word;
  margin: 5px 0;
}

/* Planšetės (768px) */
@media only screen and (min-width: 768px) {
  .about-container {
    max-width: 700px;
  }
  
  .about-container p {
    font-size: 1.6rem;
    text-indent: 2rem;
  }
}

/* Laptopai (1024px) */
@media only screen and (min-width: 1024px) {
  .about-container {
    max-width: 800px;
    
  }

  .about-container p {
    font-size: 1.5rem;
    text-indent: 3.5rem;
  }
}

/* Dideli ekranai (1440px) */
@media only screen and (min-width: 1440px) {
  .about-container {
    max-width: 1000px;
    
  }

  .about-container p {
    font-size: 2.2rem;
    text-indent: 5rem;
  }
}

/* Dideli ekranai (1920px) */
@media only screen and (min-width: 1920px) {
  .about-container {
    max-width: 800px;
    
  }

  .about-container p {
    font-size: 1.6rem;
    text-indent: 6rem;
  }
}

/* Labai dideli ekranai (2560px) */
@media only screen and (min-width: 2560px) {
  .about-container {
    max-width: 1600px;
   
  }

  .about-container p {
    font-size: 2.6rem;
    text-indent: 7rem;
  }
}
