.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #0D0D0D;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  z-index: 10;

  .logo {
    height: 60px;
    display: flex;
    align-items: center;
    margin: 10px;

    img {
      max-height: 70%;
      width: auto;
      margin-left: 10px;
      border-radius: 50%;
      border: 2px solid #333;
    }

    .logo-text {
      font-family: var(--main-font);
      font-size: 1.5rem;
      padding: 10px;
      color: var(--font-color);
    }
  }

  nav {
    display: none;
    margin-right: 10px;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 0.5rem;
      margin: 0;
      padding: 0;

      li {
        a {
          text-decoration: none;
          color: var(--font-color);
          font-family: var(--main-font);
          font-size: 1rem;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    &.open {
      display: block;
      position: absolute;
      top: 60px;
      right: 20px;
      background-color: none;
      text-align: right;
      padding: 5px;
      
      ul {
        padding: 5px 0;
      }
    }
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    font-family: var(--main-font);
    color: var(--font-color);
    margin-right: 20px;
    border: none;
    background-color: transparent;
  }
}

// Tablet 
@media only screen and (min-width: 768px) {
  .header{
    .logo {
      .logo-text {
        font-size: 2.2rem;
      }
    }

    nav {
      display: flex;
      position: static;
      
      ul {
        flex-direction: row;
        gap: 0.7rem;
        li a {
          font-size: 1.5rem;
        }
      }
    }

    .menu-toggle {
      display: none;
    }
  }
}

// Laptop
@media only screen and (min-width: 1024px) {
  .header {
    .logo {
      .logo-text {
        font-size: 2.2rem;
      }
    }

    nav {
      ul {
        gap: 0.5rem;
        li a {
          font-size: 1.1rem;
        }
      }
    }
  }
}

// TV / Widescreens
@media only screen and (min-width: 1440px) {
  .header {
    .logo {
      .logo-text {
        font-size: 2.5rem;
      }
    }

    nav {
      ul {
        gap: 1rem;
        li a {
          font-size: 1.6rem;
        }
      }
    }
  }
}

// 4K Screens
@media only screen and (min-width: 1920px) {
  .header {
    .logo {
      .logo-text {
        font-size: 2.5em;
      }
    }

    nav {
      ul {
        gap: 0.8rem;
        li a {
          font-size: 1.3rem;
        }
      }
    }
  }
}

// 5K Screens
@media only screen and (min-width: 2560px) {
  .header {
    .logo {
      .logo-text {
        font-size: 3.5rem;
      }
    }

    nav {
      ul {
        gap: 2rem;
        li a {
          font-size: 1.8rem;
        }
      }
    }
  }
}
