.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--main-font);
  color: var(--font-color);
  text-align: center; // Centruoja tekstą
  margin: 8rem auto; // Centruoja horizontaliai, jei reikia
}
    
.hero-container h1 {
  font-size: 2rem; // Mobile-first
}
  
.hero-container p {
  font-size: 1.5rem;
  margin: 0;
}
  
@media (min-width: 768px) {
  .hero-container {
    margin: 18rem auto;
  }

  .hero-container h1 {
    font-size: 2.2rem;
  }
  
  .hero-container p {
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .hero-container {
    margin: 3.5rem auto;
  }
  
  .hero-container h1 {
    font-size: 3rem;
  }
    
  .hero-container p {
    font-size: 2rem;
  }
}

@media (min-width: 1440px) {
  .hero-container {
    margin: 8rem auto;
  }
  
  .hero-container h1 {
    font-size: 3rem;
  }
    
  .hero-container p {
    font-size: 2.2rem;
  }
}

@media (min-width: 1920px) {
  .hero-container {
    margin: 8rem auto;
  }
  
  .hero-container h1 {
    font-size: 4rem;
  }
    
  .hero-container p {
    font-size: 3.2rem;
  }
}

@media (min-width: 2560px) {
  .hero-container {
    margin: 10rem auto;
  }
  
  .hero-container h1 {
    font-size: 5rem;
  }
    
  .hero-container p {
    font-size: 3.5rem;
  }
}


  