.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  gap: 10px;
  font-family: var(--main-font);
  text-decoration: none;

  a {
    color: var(--font-color);
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: #ffcc00;
    }
  }
}

/* Animacija kai komponentas atsiranda */
.fade-enter {
  opacity: 0;
  transform: scale(0.8);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

/* Media query pagal mobile-first */
@media only screen and (min-width: 768px) {
  .links {
    gap: 15px;
  }
  
  .links a {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .links {
    gap: 20px;
  }
  
  .links a {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1440px) {
  .links {
    gap: 25px;
  }
  
  .links a {
    font-size: 2rem;
  }
}
