.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  gap: 20px;
  font-family: var(--main-font);
  text-decoration: none;

  a {
    color: var(--font-color);
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: #ffcc00;
    }
  }
}

.content {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  opacity: 0; /* Pradžioje nematomas */
  transform: scale(0.8); /* Pradžioje mažesnis, kad atrodytų tolimesnis */
  animation: fadeInScale 2s ease-out forwards;
}

/* Animacija kai komponentas atsiranda */
.fade-enter {
  opacity: 0;
  transform: scale(0.8);
}
  
.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 2s ease, transform 2s ease;
}
  
.fade-exit {
  opacity: 1;
  transform: scale(1);
}
  
.fade-exit-active {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 2s ease, transform 2s ease;
}
  

@media only screen and (min-width: 768px) {
  .links {
    gap: 20px
  }
  
  a {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 1024px) {
  a {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1440px) {
  a {
    font-size: 1.8rem;
  }
}