.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem auto; 
  gap: 1rem;
  font-family: var(--main-font);
  text-decoration: none;

  a {
    color: var(--font-color);
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: #ffcc00;
    }
  }
}

/* Media query pagal mobile-first */
@media only screen and (min-width: 768px) {
  .links {
    margin: 1.5rem auto;
    gap: 1.5rem;
  }
  
  .links a {
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 1024px) {
  .links {
    margin: 1rem auto;
    gap: 1.8rem;
  }
  
  .links a {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1440px) {
  .links {
    margin: 1rem auto;
    gap: 2rem;
  }
  
  .links a {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1920px) {
  .links {
    margin: 1.5rem auto;
    gap: 1.5rem;
  }
  
  .links a {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 2560px) {
  .links {
    margin: 2rem auto;
    gap: 2rem;
  }
  
  .links a {
    font-size: 3rem;
  }
}
