.values-container {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
  margin: 7.5rem auto; // Centruotas automatiškai
  background-color: rgba(255, 255, 255, 0.6); // Permatomas fonas
  backdrop-filter: blur(8px); // Šiek tiek stipresnis suliejimas
  border-radius: 10px;
  transition: all 0.3s ease-in-out; // Suteikia sklandesnį perėjimą keičiantis ekranui
}

.values-container p,
.values-container li {
  text-align: justify;
  text-indent: 1.5rem;
  font-family: var(--main-font);
  color: var(--text-color);
  font-size: 1rem;
  hyphens: auto;
  overflow-wrap: break-word;
  margin: 5px 0;
}

.values-container ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.values-container li {
  line-height: 1.2;
}

.values-container li strong {
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .values-container {
    max-width: 700px;
    margin: 13rem auto; 
  }

  .values-container p,
  .values-container li {
    font-size: 1.7rem;
    text-indent: 4rem;
  }

  .values-container ul {
    list-style-type: none;
    padding-left: 0;
  }

  .values-container li {
    line-height: 1.3; 
  }

  .values-container li strong {
    font-weight: bold;
  }
}

@media only screen and (min-width: 1024px) {
  .values-container {
    max-width: 800px;
    margin: 4.5rem auto;
  }

  .values-container li {
    font-size: 1.8rem;
    text-indent: 3.5rem;
  }
}

@media only screen and (min-width: 1440px) {
  .values-container {
    max-width: 1000px;
    margin: 6rem auto;
  }

  .values-container li {
    font-size: 2.2rem;
    text-indent: 5rem;
  }
}

/* Dideli ekranai (1920px) */
@media only screen and (min-width: 1920px) {
  .values-container {
    max-width: 1200px;
    margin: 6rem auto;
  }

  .values-container p,
  .values-container li {
    font-size: 2rem;
    text-indent: 6rem;
  }

  .values-container li {
    line-height: 1.2;
  }
}

/* Labai dideli ekranai (2560px) */
@media only screen and (min-width: 2560px) {
  .values-container {
    max-width: 1600px;
    margin: 8rem auto;
  }

  .values-container p,
  .values-container li {
    font-size: 2.6rem;
    text-indent: 7rem;
  }

  .values-container li {
    line-height: 1.5;
  }
}

