.why-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    margin: 0 auto;
    margin-top: 1rem;
    padding-top: 1rem;
    text-align: center;
  }
  
  .why-me h2 {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
  }
  
  .why-me p {
    text-align: justify;
    text-indent: 1.5rem;
    font-family: var(--main-font);
    font-size: 1rem;
    hyphens: auto;
    overflow-wrap: break-word;
    margin: 0.5rem;
  }
  
  @media only screen and (min-width: 768px) {
    .why-me {
      margin-top: 0;
      padding-top: 2rem;
    }
    
    .why-me p {
      font-size: 1.3rem;
      text-indent: 3rem;
      padding: 0 5.1rem;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .why-me {
      margin-top: 3rem;
      padding: 0 6rem;
    }
  
    .why-me p {
      font-size: 1.4rem;
      margin: 0.5rem;
    }
  }
  
  @media only screen and (min-width: 1440px) {
    .why-me {
      margin-top: 1.5rem;
      padding: 0 17rem;
    }
  
    .why-me p {
      font-size: 1.6rem;
      text-indent: 4rem;
    }
  }
  