.why-me {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // Centruoja tiek horizontaliai, tiek vertikaliai
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.6); // Permatomas fonas
  backdrop-filter: blur(8px); // Šiek tiek stipresnis suliejimas
  border-radius: 10px;
  transition: all 0.3s ease-in-out; // Suteikia sklandesnį perėjimą keičiantis ekranui
}
  
.why-me h2 {
  font-size: 1.7rem;
  color: var(--text-color);
  margin: 0;
  margin-bottom: 0.5rem;
}
  
.why-me p {
  text-align: justify;
  text-indent: 1.5rem;
  font-family: var(--main-font);
  color: var(--text-color);
  font-size: 1rem;
  hyphens: auto;
  overflow-wrap: break-word;
  margin: 5px 0;
}
  
@media only screen and (min-width: 768px) {
  .why-me {
    max-width: 700px;
  }

  .why-me h2 {
    font-size: 2.1rem;
  }
    
  .why-me p {
    font-size: 1.6rem;
    text-indent: 2rem;
  }
}
  
@media only screen and (min-width: 1024px) {
  .why-me {
    max-width: 800px;
  }

  .why-me h2 {
    font-size: 1.8rem;
  }
  
  .why-me p {
    font-size: 1.5rem;
    text-indent: 3.5rem;
  }
}
  
@media only screen and (min-width: 1440px) {
  .why-me {
    max-width: 1000px;
  }

  .why-me h2 {
    font-size: 3rem;
  }
  
  .why-me p {
    font-size: 2.2rem;
    text-indent: 5rem;
  }
}

/* Dideli ekranai (1920px) */
@media only screen and (min-width: 1920px) {
  .why-me {
    max-width: 800px;
  }

  .why-me h2 {
    font-size: 2.7rem;
  }

  .why-me p {
    font-size: 1.6rem;
    text-indent: 6rem;
  }
}

/* Labai dideli ekranai (2560px) */
@media only screen and (min-width: 2560px) {
  .why-me {
    max-width: 1600px;
  }

  .why-me h2 {
    font-size: 3.6rem;
  }

  .why-me p {
    font-size: 2.6rem;
    text-indent: 7rem;
  }
}

  